<%= javascript_tag :defer => 'defer' do -%>
	$(document).ready(function () {
		ShipmentApp.initForm('Exchange', true);
	});
<% end -%>
<div class="span-14">
<%= form_for(@shipment)  do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% @shipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  	<div class="span-14 heading">
			Enter delivery/pickup details
		</div>
		<br/>
		<div class="span-17">
			<table class='form'>
        <tr>
          <td colspan="6">					
            Exchange <%= f.radio_button :action, Shipment::ACTION[:Exchange], {:checked => true} %>
               Deliver <%= f.radio_button :action, Shipment::ACTION[:Deliver] %>
            Pick up<%= f.radio_button :action, Shipment::ACTION[:Pickup] %>
          </td>
        </tr>

				<tr><td colspan="2"><%= f.label :Branch %></td><td colspan="4"><%= f.collection_select :origin_id, Branch.all, :id, :name %></td></tr>
				<tr><td colspan="2"><%= f.label 'Card No' %></td>
            <td colspan="1"><%= f.text_field :card_id , :maxlength => 15 %></td> 
            <td colspan="2"><%= text_field_tag :mem_name, '', :class=>'readonly',:readonly=>'true' %> 
            <td colspan="1"><%= text_field_tag :mem_phone, '', :class=>'readonly',:readonly=>'true' %></td>
        </tr>
        
				<tr><td colspan="2"><%= f.label 'Change address' %></td>
            <td colspan="4"><%= f.check_box :change_addr, {:checked => 'unchecked'}, 'Y', 'N' %></td>
        <tr>
            <td colspan="2"><br/></td> 
            <td colspan="4"><%= f.text_area :destination, :maxlength => 500, :size => "15x3" ,:placeholder => 'click change the default address', :readonly=> 'true' %></td>
        </tr>
				<tr><td colspan="2"><%= f.label 'Special Intructions' %></td><td colspan="4"><%= f.text_area :special_instr, :maxlength => 250, :size => "15x3" ,:placeholder => 'specific time to pickup/deliver'%></td></tr>
			</table>
		</div>
		<div class="span-7" id="div_deliver_goods">
			<table id='goods_table' class='form'>
				<tr><th>Books to deliver</th><th></th></tr>
				<%= f.fields_for :goods do |builder| -%>
					<%= render 'good_deliver', :f => builder %>
				<% end -%>
			</table>
		</div>
    <div class="span-14" id="destination_div"  style="display:none">
      <%= text_field_tag :mem_addr %>
      <%= text_field_tag :mem_phone_hid %>
      <%= text_field_tag :mem_name_hid %>

    </div>
    <div class="span-14" id="title_div"  style="display:none">
    </div>
    <div class="span-7" id="div_pickup_goods">
			<table id='goods_table' class='form'>
				<tr><th>Books to pickup</th><th></th></tr>
				<%= f.fields_for :goods do |builder| -%>
					<%= render 'good_pickup', :f => builder %>
				<% end -%>
			</table>
		</div>

  
  <div class="span-14 actions">
    <%= f.submit %>
  </div>
<% end %>
</div>