<div class="span-4 colborder">
	<div class="span-4">
		<p></p>
    <p>Door Delivery</p>
    <!--p><%= link_to 'Index', shipments_path %></p-->
    <p><%= link_to 'New', new_shipment_path %></p>
    <p><%= link_to "Search", shipments_search_path %>	</p>
	</div>
	<hr/>
	<div class="span-4">
		<p></p>
		<p><%= link_to "Home", root_path %>	</p>
    <p><%= link_to "Back", :back %> </p>
	</div>	
</div>
